<div class="s-testimonials">
    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>
    <div class="row testimonials">
        <div class="col-full testimonials__slider">
          <% admin.recommendations.each do |recommendation| %>

              <div class="testimonials__slide">
                  <%= image_tag recommendation.recommender_avatar, alt: "Author image", class: 'testimonials__avatar' %>
                  <p><%= recommendation.recommendation_text %></p>
                  <div class="testimonials__author h06">
                      <%= recommendation.recommender_name %>
                      <span><%= recommendation.recommender_postion_and_role %></span>
                  </div>
              </div>
            <% end %>
        </div> <!-- end testimonials__slider -->
    </div> <!-- end testimonials -->
</div>
