/*
 * libre baskerville
================================================================================ */

@font-face {
    font-family: "librebaskerville-regular";
    src: url("librebaskerville-regular-webfont.woff2") format("woff2"), url("librebaskerville-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-italic";
    src: url("librebaskerville-italic-webfont.woff2") format("woff2"), url("librebaskerville-italic-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-bold";
    src: url("librebaskerville-bold-webfont.woff2") format("woff2"), url("librebaskerville-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


/*
 * montserrat
================================================================================ */

@font-face {
    font-family: "montserrat-black";
    src: url("montserrat-black-webfont.woff2") format("woff2"), url("montserrat-black-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url("montserrat-extrabold-webfont.woff2") format("woff2"), url("montserrat-extrabold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("montserrat-bold-webfont.woff2") format("woff2"), url("montserrat-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("montserrat-semibold-webfont.woff2") format("woff2"), url("montserrat-semibold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("montserrat-medium-webfont.woff2") format("woff2"), url("montserrat-medium-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("montserrat-regular-webfont.woff2") format("woff2"), url("montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("montserrat-light-webfont.woff2") format("woff2"), url("montserrat-light-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extralight";
    src: url("montserrat-extralight-webfont.woff2") format("woff2"), url("montserrat-extralight-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-thin";
    src: url("montserrat-thin-webfont.woff2") format("woff2"), url("montserrat-thin-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
